Thubms.db
.DS_Store
*.log
*.class
*.py[co]
**/config
config/default.js
config/
secret*
*.class
package-lock.json
dist/
.cache/
node_modules/
geacron/
loadDatabase/python/out_*
loadDatabase/out*
*-copy.*
* - copy.*
.env
*credentials*
*token*