body {
  display: block;
  overflow-x: hidden;
  background-color: #e6f7ff;
  /* background-image: url(img/paper.jpg);
  background-size: 100% 100%; */
}
h5 {
  text-align: center;
}
cite {
  text-align: center;
}

blockquote {
  margin: auto;
  padding: 1%;
  text-align: center;
}
.churches-cont {
  padding: 1%;
}
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.detail-cont {
  /* border-left: 3px solid #ded4da; */
  margin: 2%;
}
.detail-cont p {
  font-size: 15px;
  padding: 1%;
}

#churches-info-container {
  width: 100%;
  max-height: 300px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-radius: 0px;
  color: white;
  background-color: rgba(40, 40, 40, 0.5) !important;
}

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.table-responsive::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgba(40, 40, 40, 0.8);
}

#churches-info-content {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
}

#churches-table {
  color: white;
}

#churches-table thead {
  font-weight: bolder;
}

#churches-table th {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: rgba(40, 40, 40, 0.8);
  cursor: url('images/arrows.png'), auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}
th,
td {
  padding: 8px 16px;
}

#collapse-churches-button {
  margin: 0.2em;
  padding: 0 0.5em;
  height: 1.5em;
  line-height: 1.5em;
}

@media (max-width:600px) {
.resized-image {
  width: auto;
  height: 200px;
  /* border-image: url(img/border.png) 25% stretch;
  border-width: 40px;
  border-style: solid; */
}
}

@media (min-width:600px) {
  .resized-image {
    width: auto;
    height: 270px;
    /* border-image: url(img/border.png) 25% stretch;
    border-width: 40px;
    border-style: solid; */
  }

}



.right {
  float: right;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-slide, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}