extends layout
block head

  link(rel='stylesheet' href='/style-about.css?ver=20230704')
  script(src='/libs/d3.min.js')
  script(src='/main-about.js')

block content
    +header('about')

    div(id='content_inner_wrapper')
        div(id='page_background_videos')
          video(playsinline muted autoplay loop)
            source(class='mobile' src="videos/background_video.webm" type="video/webm")
            source(class='mobile' src="videos/background_video.mp4" type="video/mp4")

    div.content(role="content" id='content' dragable='true')
        div(class='row')
            div(class='col-md-5 offset-md-7')
                blockquote.quote-card
                    p(id='quote')
                        | Русская история требует защиты со стороны гражданского общества.
                        | Мы не имеем права на безразличие перед лицом попыток ее злонамеренного искажения,
                        | мы должны уберечь от разрушения ее ключевые вехи. Это те рубежи,
                        | которые мы не имеем права сдать.
                        | Только так мы сможем сохранить себя как народ, сохранить нашу страну и нашу цивилизацию.
                    cite(id='quotePerson')
                        | Патриарх Кирилл
        div(class='row')
            div(class='col-md-5 offset-md-2')
                p(id='bless')
                    | По благословению протоирея Андрея Ткачева
        div(class='row main-text')
            div(class='col-md-8 offset-md-2')
                div(class="mask")
                    span(class="mask-span")
                        p
                            | Проект посвящен истории православия
                p(style='text-align:right;font-style: italic;')
                    | При подготовке сайта была использована информация из проектов
                    br
                    a(href='http://azbyka.ru' title='azbyka.ru' target="_blank")
                        | "Азбука Веры"
                    br
                    a(href='https://drevo-info.ru/' title='drevo-info.ru' target="_blank")
                        | "Древо"
                    br
                p(style='text-align:right;font-style: italic;')
                    | Над проектом работали:
                    br
                    | Алферов Михаил, Гомаз Сергей, Мокрев Алексей, Ряховская Татьяна, Середа Илья
                    br
                    a(href='mailto:atlaspravoslavie@inbox.ru?subject=Map history' title='Письмо разработчикам atlaspravoslavie@inbox.ru')
                        | atlaspravoslavie@inbox.ru
                p(style='text-align:right;font-style: italic;')
                    | Наш проект о Великой Отечественной войне
                    br
                    a(href='http://www.ww3d.ru' title='Наш проект о Великой Отечественной войне' target="_blank")
                        | www.ww3d.ru