doctype html
html

  head
    title Атлас православия
    link(rel='stylesheet' href='css/style.css' media='all')

  body

    div(id='content')
      div(id='content_inner_wrapper')
        div(id='page_background_videos')
          video(playsinline muted autoplay loop)
            source(class='mobile' src="videos/background_video.webm" type="video/webm")
            source(class='mobile' src="videos/background_video.mp4" type="video/mp4")