extends layout
block head
  link(rel='stylesheet' href='libs/materialdesignicons.min.css')
  link(rel='stylesheet' href='/style-video.css')

  script(src='/libs/main-video.js')

block content
    +header('video')
    div.content(role='content' id='content' dragable='true')
        .d-flex.justify-content-center
            .row
                .h5 Донской монастырь
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/CN1k4kNqeuA' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 Сергий и Дмитрий
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/vQ2KeQoFdGM' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 Лазарь Сербский
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/q-C7vNyKT4M' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 Православие на Руси
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/I7tGIajwIfM' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 Кирилл и Мефодий
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/VQhsmd8Crjo' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 Протоиерей Виктор Лисюнин. Возрождение Тамбовской епархии в годы служения святителя Луки.
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/XQ1UA1DqVOc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 СВИДЕТЕЛЬСТВО ВЕРЫ: Дом-музей святителя Луки (Войно-Ясенецкого) в г.Тамбове
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/kb0e5l6fzhE' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 СВИДЕТЕЛЬСТВО ВЕРЫ: Дом-музей святителя Луки (Войно-Ясенецкого) в г.Тамбове. 2часть
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/3MLPeJOpmrM' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        .d-flex.justify-content-center
            .row
                .h5 Святитель Лука в Тамбове
        .d-flex.justify-content-center
            .row
                iframe(width='450' height='253' src='https://www.youtube.com/embed/utF4-OGAf9M' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


